@media only screen and (max-width: 640px) {
    .mdl-layout__header.header-search-expanded .mdl-layout-title {
        display: none;
    }
}

.mdl-layout__header {
    background-color: #137380;
}

.mdl-layout__drawer.is-visible{
    background-color : #fff;
    color : #000;
}

.mdl-menu__item{
    background-color : #fff;
    color: #000;
}
